.filter {
    margin-top: 3rem;
    display: flex;
}

.filter__list_name {
    font-family: Noto-Medium, sans-serif;
    font-size: 2rem;
}

.filter__button_list {
    display: flex;
    margin-left: auto;
    gap: 1rem;
}

.filter__button {
    background-color: hsl(220, 100%, 99%);
    color: var(--neutral-800);
    border: none;
    padding-inline: 1.5rem;
    font-family: Noto-Medium, sans-serif;
    border-radius: 2rem;
    cursor: pointer;
}

.filter__button.active {
    background-color: var(--red-400);
    color: white;
}

[data-theme="dark"] {
    .filter__list_name {
        color: var(--neutral-0);
        font-family: Noto-Bold, sans-serif;
    }

    .filter__button {
        background-color: var(--neutral-700);
        border: 1px solid var(--neutral-600);
    }

    .filter__button {
        color: var(--neutral-0);
        cursor: pointer;
    }

    .filter__button.active {
        background-color: var(--red-400);
        color: var(--neutral-900);
    }
}